<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css for sharepage/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css for sharepage/contaner.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/folder.png')}}">
    <title>File</title>
</head>
<body>
    <div class="username">{{username}},         {{session}}</div>
    <hr>
    <h1>Index of "{{path}}"</h1>
    <h2>Content</h2>
    <a class="folder" herf="hello"></a>
    <div class="content table">
    <table order="">
        <thead>
            <tr>
                <th>
                    <a href="">Name</a>
                </th>
                <th>
                    <a href="">Size</a>
                </th>
                <th>
                    <a href="">Last Modified</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in (content) %}
                <tr>
                    <table order="">
                        <tbody>
                            <tr>
                                {% if item[1] == "dir" %}
                                    <a class="file" href="{{item[0]}}">
                                        <img src="{{url_for('static',filename='images/folder.png')}}" herf="{{item[0]}}">
                                        {{item[0]}}
                                    </a>
                                {% else %}
                                <a class="{{item[1]}}" href="{{item[0]}}">
                                    <img src="{{url_for('static',filename='images/file.png')}}" herf="{{item[0]}}">
                                    {{item[0]}}
                                </a>
                                {%endif%}
                            </tr>
                        </tbody>
                    </table>
                </tr>
            {%endfor%}
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>