<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css for sharepage/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css for sharepage/contaner.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/folder.png')}}">
    <title>File</title>
</head>
<body>
    <div class="username">
        <h2>{{username}}</h2>
    </div>
    <b>{{session_id}}</b>
    <hr>
    <h1>Index of "{{parent_folder}}"</h1>
    <h2>Content</h2>
    <p id="UI_goUp">
        <form class="inline" , method="post" action="{{url_for('file_explorer')}}">
            <input type="hidden" name="item_type" value="up_dir">
            <input type="hidden" name="parent_folder" value="parent_folder">
            <button type="submit" name="item_name" value="up_dir" class="link-button">
                <img src="{{url_for('static',filename='images/folder_up.png')}}" alt="icon">
                {{up_dir}}
            </button>
        </form>
    </p>
    <div class="content table">
    <table order="">
        <thead>
            <tr>
                <th>
                    <a>Name</a>
                </th>
                <th>
                    <a>Size</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <form class="inline" method="post" action="{{url_for('file_explorer')}}">
            {% for item in (content) %}
                <tr>
                    <td sortable.data="1{{item[0]}}">
                        <table class="ellipsis">
                            <tbody>
                                <tr>
                                    <td>
                                        {% if item[1] == "dir"%}
                                            <input type="hidden" name="item_type" value="{{item[1]}}">
                                            <input type="hidden" name="parent_folder" value="{{parent_folder}}">
                                            <button type="submit" name="item_name" value="{{item[0]}}" class="link-button">
                                                <img src="{{url_for('static',filename='images/folder.png')}}" alt="icon">
                                                {{item[0]}}
                                            </button>
                                        {% else %}
                                            <input type="hidden" name="item_type" value="{{item[1]}}">
                                            <input type="hidden" name="parent_folder" value="{{parent_folder}}">
                                            <button type="submit" name="item_name" value="{{item[0]}}" class="link-button">
                                                <img src="{{url_for('static',filename='images/file.png')}}" alt="icon">
                                                {{item[0]}}
                                            </button>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td sortable.data="{{item[2]}}">{{item[2]}}</td>
                </tr>
            {% endfor %}   
            </form>
        </tbody>
    </table>
    </div>
</body>
</html>