:root {
    background-color: -moz-dialog;
    color: -moz-dialogtext;
    font: message-box;
    padding-inline: 2em;
    color-scheme: light dark;
    }
    body {
        border: 1px solid ThreeDShadow;
        border-radius: 10px;
        padding: 3em;
        min-width: 30em;
        max-width: 65em;
        margin: 4em auto;
        background-color: Field;
        color: FieldText;
    }
    h1 {
        pos;
        font-weight: bold;
        padding-bottom: 2%;
    }

    h3 {
        align-items: center;
    }

